.button{
    -fx-background-image: url('src/lk/ijse/gdse/orm/hibernate/view/assests/icons8-go-back-96.png');
    -fx-background-size: cover; /* Adjust to fit your image size */
    -fx-background-repeat: no-repeat;

}